body{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    max-height: 50%;
}

.grid-item {
    text-align: center;
    background-color:darkslategray;
    width: 10%;
    height: 50px;
}

#btn{
    width: 100px;
}