body{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#box{
    background: tomato;
    border-radius: 1px solid black;
}

.container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 34%;
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    background-color:darkslategray;
    width: 10px;
    padding: 10px;
    height: 10px;
}

.grid-color{
    width: 10px;
    padding: 1em;
    border: 1px solid black;
    text-align: center;
    background-color: purple;
}

#myID {
    height: 400px;
    width: 500px;
    background-color: red;
}

#btn{
    width: 100px;
}